In [1]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
import time

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE

In [2]:
dataset=pd.read_csv("prep.csv",index_col=None)
df1=dataset  
df1


#Convert categorical variable into dummy/indicator variables.
df1=pd.get_dummies(df1,drop_first=True,dtype=int)
df1

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [3]:
# separation of independent and dependent variables
indep=df1.drop("classification_yes",axis=1)
dep=df1["classification_yes"]

In [4]:
# Feature Selection by SelectKbest method..

k_best = SelectKBest(score_func=chi2, k=5)
# Fit the SelectKBest object to the data
fit1 = k_best.fit(indep, dep)

# Transform the data to select the top k features
x_new = fit1.transform(indep)

# Get the names of selected features
selected_columns = indep.columns[fit1.get_support()]

In [5]:
selected_columns

Index(['bgr', 'bu', 'sc', 'pcv', 'wc'], dtype='object')

In [6]:
dataset_new=df1[['bgr', 'bu', 'sc', 'pcv', 'wc']]
dataset_new

            bgr          bu        sc        pcv            wc
0    148.112676   57.482105  3.077356  38.868902   8408.191126
1    148.112676   22.000000  0.700000  34.000000  12300.000000
2     99.000000   23.000000  0.600000  34.000000   8408.191126
3    148.112676   16.000000  0.700000  38.868902   8408.191126
4    148.112676   25.000000  0.600000  36.000000  12400.000000
..          ...         ...       ...        ...           ...
394  219.000000   36.000000  1.300000  37.000000   9800.000000
395  220.000000   68.000000  2.800000  27.000000   8408.191126
396  110.000000  115.000000  6.000000  26.000000   9200.000000
397  207.000000   80.000000  6.800000  38.868902   8408.191126
398  100.000000   49.000000  1.000000  53.000000   8500.000000

[399 rows x 5 columns]

In [7]:
# split the datas as independent training dataset and dependent testing data set for the reduced independent features)

#x_train,x_test,y_train,y_test = train_test_split( x_new, dep, test_size=.30, random_state=0)

x_train,x_test,y_train,y_test = train_test_split( dataset_new, dep, test_size=.30, random_state=0)

In [8]:
x_train,x_test,y_train,y_test

(       bgr     bu    sc        pcv            wc
 92   210.0  165.0  18.0  38.868902   8408.191126
 223  133.0   48.0   1.2  46.000000   6600.000000
 234  255.0  132.0  12.8  20.000000   9800.000000
 232  204.0   34.0   1.5  37.000000   6000.000000
 336  158.0   85.0   3.2  30.000000   8408.191126
 ..     ...    ...   ...        ...           ...
 323   98.0   86.0   4.6  38.868902   8408.191126
 192  150.0   18.0   1.2  38.868902   8408.191126
 117  107.0   15.0   1.0  37.000000  10200.000000
 47    89.0   42.0   0.5  52.000000  10200.000000
 172  129.0   25.0   1.2  40.000000   8100.000000

 [279 rows x 5 columns],
             bgr     bu    sc        pcv            wc
 132  100.000000   47.0   0.5  43.000000   5700.000000
 309  153.000000   76.0   3.3  38.868902   8408.191126
 334   83.000000   42.0   1.2  50.000000   9300.000000
 196  297.000000   53.0   2.8  34.000000  13600.000000
 246  105.000000   53.0   2.3  33.000000  10500.000000
 ..          ...    ...   ...        ...           ...
 216  148.112676  322.0  13.0  24.000000   4200.000000
 259  108.000000   75.0   1.9  29.000000   8400.000000
 49   120.000000   31.0   0.8  44.000000  10700.000000
 238  113.000000   23.0   1.1  54.000000   6500.000000
 342  120.000000   40.0   0.5  43.000000   4500.000000

 [120 rows x 5 columns],
 92     1
 223    0
 234    1
 232    1
 336    1
       ..
 323    1
 192    1
 117    1
 47     0
 172    0
 Name: classification_yes, Length: 279, dtype: int64,
 132    0
 309    1
 334    0
 196    1
 246    1
       ..
 216    1
 259    1
 49     0
 238    0
 342    0
 Name: classification_yes, Length: 120, dtype: int64)

In [22]:
# Standardization of a input data.... 
from sklearn.preprocessing import StandardScaler
ssx=StandardScaler()
x_train=ssx.fit_transform(x_train)
x_test=ssx.fit_transform(x_test)

# save the standard scaler object ssx
pickle.dump(ssx,open("ssx.pkl",'wb'))

In [16]:
#from sklearn.ensemble import RandomForestClassifier
#model=RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
#model.fit(x_train,y_train)
#y_pred=model.predict(x_test)

from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [17]:
#making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print("cm: ",cm)

# making Classification Report
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,y_pred)
print ("clf_report", clf_report)

# finding the accuracy score
from sklearn.metrics import accuracy_score
accuracy_score=accuracy_score(y_test,y_pred)

print("Accuracy: ",accuracy_score)

cm:  [[36  9]
 [ 5 70]]
clf_report               precision    recall  f1-score   support

           0       0.88      0.80      0.84        45
           1       0.89      0.93      0.91        75

    accuracy                           0.88       120
   macro avg       0.88      0.87      0.87       120
weighted avg       0.88      0.88      0.88       120

Accuracy:  0.8833333333333333

In [18]:
# Decision : 0.8833
accuracy_score

0.8833333333333333

In [13]:
#Random: 0.825
accuracy_score

0.825

In [14]:
# save the model...
pickle.dump(model,open("random_final_model","wb"))

In [15]:
# deployment

loaded_model=pickle.load(open("random_final_model","rb"))